.schedule-center-container {
  display: flex;
}

.file-tree {

}

.code-editor{
  
  flex-basis:200px;
}

.operation-zone {
display: flex;
}

.file-button-ul {
  display: inline-block;
  margin-right: 2px;Ëœ
}

.folder-button-ul {
display: none;
}
li {
  margin: 5px;
}